@charset "UTF-8";
:root {
  --pad__body-x: 20px;
  --content--wide: 75rem;
  --content--narrow: 50rem;
}
@media (min-width: 45em) {
  :root {
    --pad__body-x: 40px;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.screen-reader-text:focus {
  background-color: #f7f7f7;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #007acc;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.skip-link {
  left: -9999rem;
  top: 2.5rem;
  z-index: 999999999;
  text-decoration: underline;
}

.skip-link:focus {
  display: block;
  left: 6px;
  top: 7px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  line-height: normal;
  padding: 15px 23px 14px;
  z-index: 100000;
  right: auto;
}

.visually-hidden:not(:focus):not(:active),
.form-allowed-tags:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.desktop {
  display: none;
}

body {
  font-family: "museo", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.7;
}

p {
  margin: 0 0 1em;
}

h1, h2, h3 {
  margin: 0 0 0.5em;
}

h4, h5, h6 {
  margin: 0 0 1em;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

body {
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-weight: 700;
  border-bottom: solid 1px #000000;
  position: sticky;
  top: 0;
  background-color: white;
}
@media (min-width: 60em) {
  .site-header {
    padding: 20px;
  }
}
.site-header a {
  text-decoration: none;
  color: #000000;
}
.site-header a:hover, .site-header a:focus {
  color: #E05210;
}
.site-header h1 {
  margin: 0;
  line-height: 1;
  font-size: 32px;
}
@media (min-width: 60em) {
  .site-header h1 {
    font-size: 45px;
  }
}
.site-header .menu {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  font-family: "roboto", serif;
}
@media (min-width: 60em) {
  .site-header .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.site-header .menu-item a {
  padding: 5px 10px;
}
.site-header #site-title {
  font-family: "roboto", serif;
}

/*
Theme Name: Diego Works
Author: Diego Vogel
Author URI: https://www.diego.works
Text Domain: diegoworks

BlankSlate WordPress Theme © 2011-2023 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/

/*# sourceMappingURL=style.css.map */
