@use '../vars-mixins' as *;

body {
  @include typo__body;
}

p {
  margin: 0 0 1em;
}

h1, h2, h3 {
  margin: 1.5em 0 0.5em;
}

h4, h5, h6 {
  margin: 0 0 1em;
}

strong, b {
  font-weight: 700;
}

li + li {
  margin-top: 0.5em;
}